/* app css stylesheet */
.some-class {
  color: red; }

.product-container {
  list-style: none; }

.product-container > div {
  padding: 10px 0 0 0; }

.product-container .price {
  font-size: 18px; }

.product-container .product-image {
  width: 100%;
  height: 150px;
  background-image: url("http://placekitten.com/350/250");
  background-repeat: no-repeat;
  background-size: contain; }

.product-container .stock-container {
  color: #7c1813; }

.product-center {
  display: table;
  margin: 0 auto; }

.menu-container {
  padding: 0px 0px;
  margin: 0px 20px; }

.checkout-container {
  background-color: #f3f3f3; }

.page-title {
  text-align: center;
  color: #888888; }

.user-center {
  position: relative; }
  .user-center img {
    width: 50%;
    height: 50%; }

.user-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(101, 101, 101, 0.83);
  width: 100%;
  height: 100%; }
  .user-overlay .user-info p {
    text-align: center;
    color: white; }

.navbar {
  border: none;
  background: white;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  min-height: 0px;
  border-bottom: 10px solid turquoise; }
  .navbar .navbar-nav {
    float: right; }
  .navbar .navbar-brand {
    padding: 3px 0px;
    height: 100%; }
  .navbar .navbar-header button {
    margin: 3px 0px;
    padding: 0px;
    border: none; }
  .navbar .navbar-nav li a {
    margin: 0px 10px;
    padding: 3px 10px; }

.checkout-container {
  margin: 0px 20px; }
